* {
  box-sizing: border-box; // outline: 1px solid #bbb;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
i,
ul,
li,
img {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#box {
  background-color: #e6f3ff;
}

.search-box {
  margin-top: 50px;
  min-height: 50px;
  background-color: #24292e;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  .form-box {
    display: inline-block;
    margin-left: 40px;
    min-width: 200px;
    #search-form {
      width: 100%;
      margin-top: 6px;
      input {
        border: 1px solid #e8e8e8;
        height: 34px;
        padding-left: 10px;
        border-radius: 5px;
      }
    }
  }
  .icon {
    float: left;
    position: relative;
    margin-left: 10px;
    .fa-github {
      color: #fff;
      display: inline-block;
      font-size: 30px;
      padding: 10px;
    }
  }
  #filterbox {
    margin-top: 6px;
  }
  #myDropdown {
    margin-right: 10px;
  }
  .ui {
    margin-top: 5px;
  }
  .ui.fluid.dropdown {
    max-width: 80%;
    float: right;
    margin-right: 25px;
  }
}

.result-content {
  margin-top: 80px;
  .list {
    width: 100%;
    li {
      background-color: #95CFE0;
      padding: 20px;
      .pull-left {
        max-width: 50%;
        h2 {
          a {
            font-size: 23px;
            color: #666;
          }
        }
        .description {
          font-size: 16px;
          color: #999;
        }
        .time {
          font-size: 11px;
          color: #999;
        }
      }
      .pull-right {
        display: table;
        width: 40%;
        span {
          display: table-cell;
          align-items: center;
          justify-content: center;
          &.download {
            a {
              color: #fff;
              padding: 5px 10px;
              background-color: #e25a2b;
              border: 1px solid #e25a2b;
              border-radius: 3px;
              i {
                margin-right: 10px;
              }
              &:hover {
                background-color: #fb7445;
                border-color: #fb7445;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:1200px) {
  .ui.fluid.dropdown {
    min-width: 70%;
  }
}

@media (min-width:992px) {
  .ui.fluid.dropdown {
    max-width: 65%;
    margin-right: 10px;
  }
}

@media (min-width:768px) {
  .ui.fluid.dropdown {
    max-width: 70%;
    margin-right: 15px;
  }
}

@media (max-width:768px) {
  .icon {
    float: left;
    position: relative;
    margin-left: 0px;
    .fa-github {
      color: #fff;
      display: inline-block;
      font-size: 20px;
      padding: 5px;
    }
  }
  .ui.fluid.dropdown {
    min-width: 75%;
    float: right;
    margin-right: 5px;
  }
}

@media (max-width:500px) {
  .ui.fluid.dropdown {
    min-width: 70%;
    float: right;
    margin-right: 5px;
  }
}

@media (max-width:350px) {
  .ui.fluid.dropdown {
    max-width: 70%;
    float: right;
    margin-right: 5px;
  }
}